body {
    background-color: hsl(226, 43%, 10%);
}

p {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 300;
}

.external-grid {
    display: grid;
    grid-template-columns: minmax(200px, 250px) minmax(640px, 1fr);
    grid-template-rows: auto;
    grid-gap: 20px;
    margin: 5%;
    justify-self: center;
}

.profile-content {
    background-color: hsl(235, 46%, 20%);
    border-radius: 10px;
}

.profile-name {
    background-color: hsl(246, 80%, 60%);
    height: 64%;
    border-radius: 10px;
}

.profile-name p {
    width: 100px;
}

.profile-name img{
    width: 60px;
    border: 2px solid white;
    border-radius: 31px;
    margin-top: 25px; 
    margin-left: 20px;
}

.internal-grid {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
    gap: 20px;
}

.content-work {
    background-color: hsl(15, 100%, 70%);
    height: 205px;
    border-radius: 10px;
    overflow: hidden;
}

.work-img {
    height: 65px;
    position: relative;
    z-index: 2;
    float: right;
    bottom: 180px;
    right: 15px;
}

.content-play {
    background-color: hsl(195, 74%, 62%);
    height: 205px;
    border-radius: 10px;
    overflow: hidden;
}

.play-img {
    height: 65px;
    position: relative;
    z-index: 2;
    float: right;
    bottom: 176px;
    right: 15px;
}

.content-study {
    background-color: hsl(348, 100%, 68%);
    height: 205px;
    border-radius: 10px;
    overflow: hidden;
}

.study-img {
    height: 65px;
    position: relative;
    z-index: 2;
    float: right;
    bottom: 176px;
    right: 15px;
}

.content-exercise {
    background-color: hsl(145, 58%, 55%);
    height: 205px;
    border-radius: 10px;
    overflow: hidden;
}

.exercise-img {
    height: 45px;
    position: relative;
    z-index: 2;
    float: right;
    bottom: 170px;
    right: 15px;
}

.content-social {
    background-color: hsl(264, 64%, 52%);
    height: 205px;
    border-radius: 10px;
    overflow: hidden;
}

.social-img {
    height: 80px;
    position: relative;
    z-index: 2;
    float: right;
    bottom: 180px;
    right: 13px;
}

.content-self-care {
    background-color: hsl(43, 84%, 65%);
    height: 205px;
    border-radius: 10px;
    overflow: hidden;
}

.self-care-img {
    height: 55px;
    position: relative;
    z-index: 2;
    float: right;
    bottom: 180px;
    right: 15px;
}

.content-box {
    background-color: hsl(235, 46%, 20%);
    margin-top: auto;
    margin-bottom: 0%;
    height: 170px;
    width: auto;
    border-radius: 10px;
    display: grid;
    grid-template-columns: minmax(160px, 1fr) 1fr;
    position: relative;
    top: 35px;
    z-index: 3;
    cursor: pointer;
    transition: background-color 0.5s;
}

.content-box:hover {
    background-color: hsl(236, 43%, 32%);
}

.report-p {
    color: rgba(211, 211, 211, 0.7);
    font-size: 11px;
    margin-top: 30px;
    margin-left: 25px;
}

.name-p {
    color: white;
    font-size: 30px;
    margin-top: 0;
    margin-left: 25px;
}

.daily-p {
    color: hsla(236, 100%, 87%, 0.5);
    margin-left: 25px;
    margin-top: 24px;
    cursor: pointer;
    transition: color 0.5s;
}

.daily-p:hover {
    color: white;
}

.weekly-p {
    color: hsl(236, 100%, 100%);
    margin-left: 25px;
    margin-top: 17px;
    cursor: pointer;
    transition: color 0.5s;
}

.weekly-p:hover {
    color: white
}

.monthly-p {
    color: hsla(236, 100%, 87%, 0.5);
    margin-left: 25px;
    margin-top: 17px;
    cursor: pointer;
    transition: color 0.5s;
}

.monthly-p:hover {
    color: white
}

.content-name-p {
    color: white;
    margin: 25px;
    font-weight: 400;
    font-size: 15px;
    margin-bottom: 0;
}

.content-hours-p {
    color: white;
    font-weight: 300;
    margin-left: 25px;
    font-size: 45px;
    margin-top: 25px;
    margin-bottom: 0;
}

.content-previous-p {
    color: rgba(211, 211, 211, 0.7);
    font-weight: 300;
    margin-left: 25px;
    margin-top: 12px;
    font-size: 12px;
}

.ellipsis-img {
    height: 4px;
    margin-top: 31px;
    margin-right: 27px;
    float: right;
    cursor: pointer;
    opacity: 0.7;
}

.ellipsis-img:hover {
    height: 6px;
    opacity: 1;
    background-color: hsl(235, 46%, 20%);
}